<hr/>
<footer>
  <p class="float-right">
    <%= t '.all_languages' %>:
    <% Setting.languages.each do |k, v| %>
        <%= link_to v, root_path(locale: k), target: :_blank %>
    <% end %>
  </p>
  <p>
    &copy; <%= site_info :copyright %>
    <% links = Setting["#{locale}.nav.footer"] %>
    <% if links %>
        <% links.each do |l| %>
            &middot; <%= link_to l.fetch('label'), l.fetch('href'), target: :_blank %>
        <% end %>
    <% end %>
  </p>
</footer>