<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="personal-bar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= user_signed_in? ? t('.welcome', name: current_user.name) : t('.sign-in-or-up') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="personal-bar">
    <% links = user_signed_in? ?
                   [
                       {label: '.profile', href: edit_user_registration_path},
                       {label: 'devise.invitations.new.header', href: new_user_invitation_path},
                   ] :
                   [
                       {label: 'devise.shared.links.sign_in', href: new_user_session_path},
                       {label: 'devise.shared.links.sign_up', href: new_user_registration_path},
                       {label: 'devise.shared.links.forgot_your_password', href: new_user_password_path},
                       {label: 'devise.shared.links.didn_t_receive_confirmation_instructions', href: new_user_confirmation_path},
                       {label: 'devise.shared.links.didn_t_receive_unlock_instructions', href: new_user_unlock_path},
                       {label: 'leave_words.new.title', href: new_leave_word_path},
                   ] %>
    <% links.each do |l| %>
        <%= link_to t(l.fetch :label), l.fetch(:href), class: 'dropdown-item' %>
    <% end %>

    <% if user_signed_in? %>
        <div class="dropdown-divider"></div>
        <%= link_to t('.sign-out'), destroy_user_session_path, class: 'dropdown-item', data: {confirm: t('devise.registrations.edit.are_you_sure')}, method: :delete %>
    <% end %>
  </div>
</li>